*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: rgb(255, 255, 255);
    color: blue;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 18px;
}
.menu{
    display: flex;
    list-style-type: none;
gap: 10px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: rgb(99, 217, 217);
    padding: 40px;  
}
.middle img,h1,p{
    margin-top: 10px;
    margin-bottom: 30px;
}
.bottom{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgb(5, 72, 90);
}
cards img{
    margin-left: 80px;
}