*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    border:2px solid black;
    margin:100px 80px;
}
.main{
    margin:auto;
    width:100%;
    padding: 70px;
    background-color: rgb(232, 226, 226);
}

.down{
    display: flex;
    width: 100%;
    margin:auto;
    background-color:rgb(253, 249, 249);
    padding: 70px;
}
cards h1,p,button{
   margin-bottom: 5px;

}
cards button{
 color: white;
    background-color: rgb(121, 124, 127);
}
main button{
    color:white;
    background-color:rgb(20, 69, 92);
}
cards{
    padding:10px;
}
h2{
    margin-bottom: 7px;
}
p{
     margin-bottom: 7px;  
}